.box {
  margin:10px;
  border:10px;
  border-color:red;
}

.title-text{
  font-family: 'Lora', serif;
  color:black;
  font-size: 1.4em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.text-corp {
  font-family: 'Lora', serif;
  color:black;
  font-size: 1.0em;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-default{
  background-color: grey;
  border:4em;

}

/********** Navbar **********/
#header-nav {
    background-color:grey;
    border-radius: 0;
    border: 100px;
    margin-bottom: 1em;   
  }
  .navbar-brand {
    padding-top: 25px;
    margin-bottom: 1em;
  }
  .navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .85;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;    
  }

  .navbar-default .navbar-nav>li>a { 
    color: white;  

   }

   .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: black;
    border-width: 0.15em;

} 

 /********** Menu **********/  
 .navbar-default .navbar-nav>li>a {
  color: black;
}

/********** Our Menu **********/  
.our-menu{
    font-family: 'Lora', serif;
    color:black;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;

}

/********** Desktop **********/
@media (min-width: 1200px) {
  /* Header */
  .navbar-brand {
    padding-top: 25px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 2vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }


  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */



}

/********** Laptop **********/
@media (min-width: 992px) and (max-width: 1199px) {

 /* Header */
 .navbar-brand {
  padding-top: 10px;
  height: 80px;
}
.navbar-brand h1 { /* Restaurant name */
  padding-top: 25px;
  font-size: 3vw; /* 1vw = 1% of viewport width */
}
.navbar-brand p { /* Kosher cert */
  font-size: .6em;
  margin-top: 12px;
}
.navbar-brand p img { /* Star-K */
  height: 20px;
}

#collapsable-nav a { /* Collapsed nav menu text */
  font-size: 1.4em;
  background-color: white;
}

#collapsable-nav a span { /* Collapsed nav menu glyph */
  font-size: 1em;
  margin-right: 5px;
}


#xs-deliver {
  margin-top: 5px;
  font-size: .7em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
/* End Header */



}

/********** tablet **********/
@media (min-width: 768px) and (max-width: 991px) {

  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 25px;
    font-size: 4vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.4em;
    background-color: white;
  }

  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }


  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */



}

/********** mobile L **********/
@media (min-width: 480px) and (max-width: 767px) {
/* Header */
.navbar-brand {
  padding-top: 10px;
  height: 80px;
}
.navbar-brand h1 { /* Restaurant name */
  padding-top: 10px;
  font-size: 5vw; /* 1vw = 1% of viewport width */
}
.navbar-brand p { /* Kosher cert */
  font-size: .6em;
  margin-top: 12px;
}
.navbar-brand p img { /* Star-K */
  height: 20px;
}

#collapsable-nav a { /* Collapsed nav menu text */
  font-size: 1.4em;
  background-color: white;
  border-bottom: 0.2em solid black;
}
.navbar-default .navbar-nav>li>a {
  text-align: center;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: black;
  border-width: 0.2em;
  background-color: white;

}

#collapsable-nav a span { /* Collapsed nav menu glyph */
  font-size: 1em;
  margin-right: 5px;
}

#xs-deliver {
  margin-top: 5px;
  font-size: .7em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
/* End Header */

}